In [1]:
import pandas as pd
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [2]:
obj.values

array([ 4,  7, -5,  3])

In [3]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# customize the index
obj2 = pd.Series([4,7,-5,6], index = ['a','b','c','d'])
obj2

a    4
b    7
c    5
d    6
dtype: int64

In [6]:
obj2['a']

4

In [8]:
obj2[['a','d']]

a    4
d    6
dtype: int64

In [9]:
# basic algorithm'b' in obj2
obj2[obj2 > 0]

a    4
b    7
c    5
d    6
dtype: int64

In [10]:
obj2 * 2

a     8
b    14
c    10
d    12
dtype: int64

In [11]:
'b' in obj2
'e' in obj2

False

In [12]:
mapData = {'Liam':91, 'John':54, 'wwj':18}
obj3 = pd.Series(mapData)
obj3

Liam    91
John    54
wwj     18
dtype: int64

In [20]:
# create new object with new
mapData = {'Liam':91, 'John':54, 'wwj':18}
mapIndex = ['hh','Liam','John']
obj4 = pd.Series(mapData, index=mapIndex)
obj4

hh       NaN
Liam    91.0
John    54.0
dtype: float64

In [21]:
# judge if it is null
pd.isnull(obj4)

hh       True
Liam    False
John    False
dtype: bool

In [22]:
# judge if it is not null
pd.notnull(obj4)

hh      False
Liam     True
John     True
dtype: bool

In [24]:
# add unique name for the series object
obj4.name = 'peopleAge'
obj4.index.name = 'peopleName'
obj4

peopleName
hh       NaN
Liam    91.0
John    54.0
Name: peopleAge, dtype: float64

In [25]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [26]:
# change the index
obj.index = ['bob', 'lian','jeff','wwj']
obj

bob     4
lian    7
jeff   -5
wwj     3
dtype: int64